*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    border-bottom: 1px solid rgb(240, 240, 240);
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    padding-bottom: 1rem;
}
.button .btn{
    border: 1px solid slateblue;
    color: slateblue;
    border-radius: 5px;
    padding: 5px 10px;
    min-width: 5rem;
    margin: 0 10px;
    background: none;
    transition: .25s;
}
.button .btn:hover{
    background: slateblue;
    color: #fff;
    transform: translateY(-2px);
    cursor: pointer;
}
.box{
    float: left;
    border: 1px solid rgb(150, 150, 168);
    width: 0;
    height: 0;
    margin: 0;
    padding-top: 4.5rem;
    font-size: 2rem;
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
    transition: .25s;
    opacity: 0;
    transition: .5s;
    text-align: center;
}
.show{
    opacity: 1;
    width: 200px;
    height: 200px;
    margin: 10px;
}
.objects .box:hover{
    background: rgb(251, 234, 255);
}
