@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

.img{
    float: right;
    margin-right: 5%;
}
.bar-menu{
    background-color: aliceblue;
    box-shadow: 5px 0 10px rgba(128, 128, 128, 0.377);
    width: 30%;
    height: 100%;
    border-radius: 0 5px 5px 0;
}
.bar-menu.hide{
    display: none;
}
 .bar-text{
     font-size: large;
     font-family: 'Poppins', sans-serif; 
 }
